/* --- Colors --- */
$accent-primary: #1fcf89;
$accent-secondary: #6de9b7;
$accent-tertiary: #229b6a;
$main-secondary: #414651;
$main-primary: #252b37;
$main-tertiary: #717680;
$disabled: #d5d7da;

$text-secondary: #ffffff;
$text-primary: #313949;
$text-disabled: #717680;
$error: #e13333;

$main-background: #f3f4f7;
