/* --- Fonts --- */
/* HEADER */
$header-xxl: 800 40px/48px 'Roboto Condensed', sans-serif;
$header-xl: 800 32px/40px 'Roboto Condensed', sans-serif;
$header-l: 800 28px/36px 'Roboto Condensed', sans-serif;
$header-m: 800 24px/32px 'Roboto Condensed', sans-serif;
$header-s: 800 22px/28px 'Roboto Condensed', sans-serif;
$header-xs: 800 20px/26px 'Roboto Condensed', sans-serif;

/* SUBHEADER */
$subheader-l: 500 18px/26px 'Roboto', sans-serif;
$subheader-m: 500 16px/24px 'Roboto', sans-serif;
$subheader-s: 500 14px/20px 'Roboto', sans-serif;

/* BODY LONG */
$body-long-l: 400 16px/24px 'Roboto', sans-serif;
$body-long-m: 400 14px/20px 'Roboto', sans-serif;
$body-long-s: 400 12px/16px 'Roboto', sans-serif;

/* BODY SHORT */
$body-short-l: 400 16px/20px 'Roboto', sans-serif;
$body-short-m: 400 14px/18px 'Roboto', sans-serif;
$body-short-s: 400 12px/14px 'Roboto', sans-serif;

/* CONTROL */
$control-xl: 500 18px/24px 'Roboto', sans-serif;
$control-l: 500 16px/20px 'Roboto', sans-serif;
$control-m: 500 14px/16px 'Roboto', sans-serif;
$control-s: 500 12px/14px 'Roboto', sans-serif;

/* CAPTION */
$caption-m: 500 12px/16px 'Roboto', sans-serif;
$caption-s: 500 10px/14px 'Roboto', sans-serif;

/* OVERLINE */
$overline-m: 500 12px/14px 'Roboto', sans-serif;
$overline-s: 500 10px/12px 'Roboto', sans-serif;
